@import url('https://fonts.googleapis.com/css2?familyy=Lato&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.btn {
  background: #0B3835;
  width: 120px;
  height: 40px;
  box-shadow: 0px 4.375px 17.5px rgba(19, 78, 74, 0.18);
  border: none;
  border-radius: 12px;
  position: absolute;
  top: 50%;
}

.btn, text {
  color: white;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}